{{template "create.html" .}} {{define "currStep"}}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="pull-right"></a>
                <h4>Vehicle Photos</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <label>Front</label>
                    <input type="text" class="" name="txtMake" value="" readonly/>
                    <input type="submit" class="" name="btnSubmit" value="Upload" />
                </div>
                <div class="list-group">
                    <label>Back</label>
                    <input type="text" class="" name="txtMake" value="" readonly/>
                    <input type="submit" class="" name="btnSubmit" value="Upload" />
                </div>
                <div class="list-group">
                    <label>Left</label>
                    <input type="text" class="" name="txtMake" value="" readonly/>
                    <input type="submit" class="" name="btnSubmit" value="Upload" />
                </div>
                <div class="list-group">
                    <label>Righ</label>
                    <input type="text" class="" name="txtMake" value="" readonly/>
                    <input type="submit" class="" name="btnSubmit" value="Upload" />
                </div>
                <div class="list-group">
                    <label>Dashboard</label>
                    <input type="text" class="" name="txtMake" value="" readonly/>
                    <input type="submit" class="" name="btnSubmit" value="Upload" />
                </div>
                <div class="list-group">
                    <label>ODO Meter </label>
                    <input type="text" class="" name="txtMake" value="" readonly/>
                    <input type="submit" class="" name="btnSubmit" value="Upload" />
                </div>
                <div class="list-group">
                    <label> Interior</label>
                    <input type="text" class="" name="txtMake" value="" readonly/>
                    <input type="submit" class="" name="btnSubmit" value="Upload" />
                </div>
                <form name="frmPhotosUpload" action="/upload" method="POST">
                    <div class="list-group">
                        <input type="submit" class="" name="btnSave" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}