{{template "create.html" .}} {{define "currStep"}}
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="pull-right"></a>
                <h4>Vehicle Photos</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <label>Price</label>
                    <input type="number" class="" name="numPrice" value="" />
                </div>
                <div class="list-group">
                    <label>License Expiry Date</label>
                    <input type="date" class="" name="dpLicense" value="" />
                </div>
                <div class="list-group">
                    <label>Has Registration Papers</label>
                    <input type="checkbox" class="" name="cbPapers" value="Yes" />
                </div>

                <form name="frmPhotosUpload" action="/upload" method="POST">
                    <div class="list-group">
                        <input type="submit" class="" name="btnSave" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}