{{template "create.html" .}} {{define "currStep"}}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="pull-right"></a>
                <h4>Vehicle Details</h4>
            </div>
            <div class="panel-body">
                <form name="frmVIN" action="/create" method="POST">
                    <div class="list-group">
                        <input type="text" class="" name="txtVIN" value="" placeholder="Vin Number" />
                        <input type="submit" class="" name="btnSubmit" value="Submit" />
                    </div>
                </form>
                <form name="frmDetails" action="/create" method="POST">
                    <div class="list-group">
                        <input type="text" class="" name="txtMake" value="" readonly/>
                    </div>
                    <div class="list-group">
                        <input type="text" class="" name="txtCountry" value="" />
                    </div>
                    <div class="list-group">
                        <input type="text" class="" name="txtModel" value="" />
                    </div>
                    <div class="list-group">
                        <input type="text" class="" name="txtYear" value="" />
                    </div>

                    <div class="list-group ">
                        <input type="submit" class="" name="btnSave" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}