<footer class="page-footer">
    <div class="container">
      <div class="inner">
        <div class="wrapper">
          <div class="group group-slink">
            <h5>World of Forks</h5>
            <p>Theme
              <a href="https://github.com/stkevintan/canoe" target="_blank">canoe</a> designed by
              <a href="https://github.com/stkevintan" target="_blank">Kevin Tan</a> with ❤</p>
            <ul class="slink">
              <li>
                <a href="https://github.com/stkevintan" target="_blank" title="Github">
                  <svg class="svg-icons svg-icons-github">
                    <use xlink:href="#svg-icons-github"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/kevinsfork" target="_blank" title="Twitter">
                  <svg class="svg-icons svg-icons-twitter">
                    <use xlink:href="#svg-icons-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="http://weibo.com/kevinclasky" target="_blank" title="Weibo">
                  <svg class="svg-icons svg-icons-sina-weibo">
                    <use xlink:href="#svg-icons-sina-weibo"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="group group-flink">
            <h5>My Friends</h5>
            <ul>
              <li>
                <a href="https://frantic1048.logdown.com/" target="_blank">Frantic1048</a>
              </li>
              <li>
                <a href="https://hclmaster.github.io/" target="_blank">HclMaster</a>
              </li>
              <li>
                <a href="https://whst.github.io/" target="_blank">WANG Hsü-Tung</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="inner">Copyleft@Kevin Tan</div>
      </div>
    </div>
  </footer>