<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{.data.Title}}</title>
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,initial-scale=1">

  <link href="./World of Forks_files/icon" rel="stylesheet">
  <link href="../other/ocean.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../other/index-216108f5f4.css">

  <link rel="stylesheet" href="../other/main.css" />
</head>

<body>
  <div id="MathJax_Message" style="display: none;"></div>
  <div class="navbar-fixed">
    <nav class="navbar">
      <div class="nav-container container">
        <div class="nav-wrapper inner">
          <a href="javascript:void(0)" data-activates="sidebar" class="button-collapse hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
          <a href="#" class="brand-logo">
            <i class="material-icons hide-on-med-and-down"></i>
            World of Forks</a>
          <ul class="nav-menu tabs tabs-transparent hide-on-med-and-down">
            <li class="tab">
              <a href="#" class="active">Home</a>
            </li>
            <li class="tab">
              <a href="#" class="">Archive</a>
            </li>
            <li class="tab">
              <a href="#" class="">About</a>
            </li>
            <li class="indicator" style="left: 0px; width: 74.0156px;"></li>
          </ul>
          <form class="nav-form hide-on-small-and-down">
            <div class="form-group">
              <i class="material-icons">search</i>
              <input type="text" placeholder="输入搜索关键字">
            </div>
            <div class="form-popout">
              <div class="search-result">
                <label>search-result</label>
                <ul></ul>
              </div>
            </div>
          </form>
          <ul class="nav-menu apps">
            <li>
              <a class="search-btn hide-on-med-and-up" href="#">
                <i class="material-icons">search</i>
              </a>
            </li>
            <li>
              <a class="term-btn hide-on-small-and-down" href="#">
                <i class="material-icons">apps</i>
              </a>
            </li>
            <li>
              <a class="rss-btn hide-on-small-and-down" href="#" target="_blank">
                <i class="material-icons">rss_feed</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="mobile-search hide-on-med-and-up">
    <div class="header">
      <i class="material-icons">search</i>
      <input type="text" placeholder="cars">
      <i class="material-icons mobile-search-close">cancel</i>
    </div>
    <div class="content">
      <label>暂无搜索结果</label>
      <ul></ul>
    </div>
  </div>
  <div class="taxonomy">
    <div class="container">
      <div class="inner">
        <div class="taxonomy-panel">
          <div class="group">
            <label>Category</label>
            <ul>
              <li>
                <a class="btn btn-secondary" href="#">acm
                  <span class="badge">24</span>
                </a>
              </li>
              <li>
                <a class="btn btn-secondary" href="#">web
                  <span class="badge">14</span>
                </a>
              </li>
              <li>
                <a class="btn btn-secondary" href="#">linux
                  <span class="badge">8</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="group">
            <label>Tag</label>
            <ul>
              <li>
                <a class="btn btn-secondary" href="#">car
                </a>
              </li>
              <li>
                <a class="btn btn-secondary" href="#">car1
                  <span class="badge">7</span>
                </a>
              </li>
              <li>
                <a class="btn btn-secondary" href="#">car2
                  <span class="badge">6</span>
                </a>
              </li>
              <li>
                <a class="btn btn-secondary" href="#">car3
                  <span class="badge">6</span>
                </a>
              </li>
              <li>
                <a class="btn btn-secondary" href="#">car4
                  <span class="badge">5</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="side-nav" id="sidebar">
    <li>
      <a href="#" class="active">Home</a>
    </li>
    <li>
      <a href="#" class="">Archive</a>
    </li>
    <li>
      <a href="#" class="">About</a>
    </li>
    <li>
      <a class="term-btn-mobile hide-on-med-only" href="#">Categories</a>
    </li>
    <li>
      <a class="term-btn-mobile hide-on-med-only" href="#">Tags</a>
    </li>
    <li>
      <a class="rss-btn-mobile hide-on-med-only" href="#" target="_blank">Rss</a>
    </li>
  </ul>
  <section class="splash">

    <div class="splash-content container">
      <img class="avatar reveal enter" src="./World of Forks_files/avatar-94a2a41df3.jpg">
      <h3 class="nickname">CARS</h3>
      <p class="desc" style="opacity: 1;">
        <cite>Pretoria</cite>
      </p>
    </div>
  </section>
  <script>window["getHitokoto"] = true;</script>
  <script type="text/javascript" src="./World of Forks_files/canvas-a8593a389f.js.download"></script>
  <main id="index" role="main" class="main-panel">
    <div class="container container-ex">
      <div class="inner">
        <div class="waterfall">
          <div class="waterfall__item">
            <div class="card post post-summary reveal enter">
              <div class="card-header postinfo">
                <span class="card-title">
                  <a href="#">gfhgffhghgf</a>
                </span>
                <div class="card-meta">
                  <time>2017年12月11日</time>
                  <address>
                    <a href="#">hguu</a>
                  </address>
                </div>
              </div>
              <div class="card-content">
                <article class="article">
                  <h2 id="why">Why</h2>
                  <p>gfhfghfghfghfghfghfghfghfghfgh</p>
                  <h2 id="h2">fghfghfgh</h2>
                  <div class="admonition warning">
                    <p class="admonition-title">
                      <i class="material-icons">warning </i>fghfghfgh</p>
                    <p>fhfghfghfgh</p>
                  </div>
                  <a href="https://keyin.me/posts/zju-openwrt-settings/" class="readmore">fghfghfghfg</a>
                </article>
              </div>
              <div class="card-action card-action-links">
                <a class="btn btn-secondary" href="https://keyin.me/tags/ipv6">IPv6</a>
                <a class="btn btn-secondary" href="https://keyin.me/tags/pt">PT</a>
              </div>
            </div>
          </div>
          <div class="waterfall__item">
            <div class="card post post-summary reveal enter">
              <div class="card-header postinfo">
                <span class="card-title">
                  <a href="#">Toyoto Hilux 2.4D(engine) </a>
                </span>
                <div class="card-meta">
                  <time>1997</time>
                  <address>
                    <a href="#/profile">Piet pompies</a> <!--user profile, sell items-->
                  </address>
                </div>
              </div>
              <div class="card-content">
                <article class="article">
                  <p>
                    <img src="https://ol1kreips.qnssl.com/%E6%88%AA%E5%9B%BE_2017-03-13_18-50-11.png" alt="enter description here"
                      title="截图_2017-03-13_18-50-11">
                    <br>
                    <p>dis n kak ou bakkie met fokol tyers</p>
                    <br>
                  </p>
                  <a href="#/addVert" class="readmore">deseal, eengin paperless</a>
                </article>
              </div>
              <div class="card-action card-action-links">
                <a class="btn btn-secondary" href="https://keyin.me/tags/gnome">toyoto</a>
                <a class="btn btn-secondary" href="https://keyin.me/tags/i3wm">hilax</a>
                <a class="btn btn-secondary" href="https://keyin.me/tags/i3wm">4x4</a>
              </div>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="pagination">
            <ul class="pagination">
              <li>
                <a href="https://keyin.me/" aria-label="First">
                  <span aria-hidden="true">««</span>
                </a>
              </li>
              <li class="disabled">
                <a href="https://keyin.me/" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <li class="active">
                <a href="https://keyin.me/">1</a>
              </li>
              <li>
                <a href="https://keyin.me/page/2/">2</a>
              </li>
              <li>
                <a href="https://keyin.me/page/3/">3</a>
              </li>
              <li class="disabled">
                <span aria-hidden="true">…</span>
              </li>
              <li>
                <a href="https://keyin.me/page/7/">7</a>
              </li>
              <li>
                <a href="https://keyin.me/page/2/" aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
              <li>
                <a href="https://keyin.me/page/7/" aria-label="Last">
                  <span aria-hidden="true">»»</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="inner">
          <div class="wrapper">
            <div class="group group-slink">
              <h5>World of Forks</h5>
              <p>Theme
                <a href="https://github.com/stkevintan/canoe" target="_blank">canoe</a> designed by
                <a href="https://github.com/stkevintan" target="_blank">Kevin Tan</a> with ❤</p>
              <ul class="slink">
                <li>
                  <a href="https://github.com/stkevintan" target="_blank" title="Github">
                    <svg class="svg-icons svg-icons-github">
                      <use xlink:href="#svg-icons-github"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/kevinsfork" target="_blank" title="Twitter">
                    <svg class="svg-icons svg-icons-twitter">
                      <use xlink:href="#svg-icons-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="http://weibo.com/kevinclasky" target="_blank" title="Weibo">
                    <svg class="svg-icons svg-icons-sina-weibo">
                      <use xlink:href="#svg-icons-sina-weibo"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="group group-flink">
              <h5>My Friends</h5>
              <ul>
                <li>
                  <a href="https://frantic1048.logdown.com/" target="_blank">Frantic1048</a>
                </li>
                <li>
                  <a href="https://hclmaster.github.io/" target="_blank">HclMaster</a>
                </li>
                <li>
                  <a href="https://whst.github.io/" target="_blank">WANG Hsü-Tung</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="inner">Copyleft@Kevin Tan</div>
        </div>
      </div>
    </footer>
  </main>

  <div style="display:none">
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="svg-icons-google-plus3" viewBox="0 0 32 32">
          <title>google-plus3</title>
          <path d="M16 0c-8.838 0-16 7.162-16 16s7.162 16 16 16 16-7.163 16-16-7.163-16-16-16zM12 24c-4.425 0-8-3.575-8-8s3.575-8 8-8c2.162 0 3.969 0.787 5.363 2.094l-2.175 2.088c-0.594-0.569-1.631-1.231-3.188-1.231-2.731 0-4.963 2.263-4.963 5.050s2.231 5.050 4.963 5.050c3.169 0 4.356-2.275 4.538-3.45h-4.537v-2.744h7.556c0.069 0.4 0.125 0.8 0.125 1.325 0 4.575-3.063 7.819-7.681 7.819zM26 16v2h-2v-2h-2v-2h2v-2h2v2h2v2h-2z"></path>
        </symbol>
        <symbol id="svg-icons-twitter" viewBox="0 0 32 32">
          <title>twitter</title>
          <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
        </symbol>
        <symbol id="svg-icons-sina-weibo" viewBox="0 0 32 32">
          <title>sina-weibo</title>
          <path d="M13.444 28.063c-5.3 0.525-9.875-1.875-10.219-5.35-0.344-3.481 3.675-6.719 8.969-7.244 5.3-0.525 9.875 1.875 10.213 5.35 0.35 3.481-3.669 6.725-8.963 7.244zM24.038 16.519c-0.45-0.137-0.762-0.225-0.525-0.819 0.512-1.287 0.563-2.394 0.006-3.188-1.038-1.481-3.881-1.406-7.137-0.037 0 0-1.025 0.444-0.762-0.363 0.5-1.613 0.425-2.956-0.356-3.738-1.769-1.769-6.469 0.069-10.5 4.1-3.013 3.006-4.763 6.213-4.763 8.981 0 5.288 6.787 8.506 13.425 8.506 8.7 0 14.494-5.056 14.494-9.069 0-2.431-2.044-3.806-3.881-4.375z"></path>
          <path d="M29.819 6.831c-2.1-2.331-5.2-3.219-8.063-2.612v0c-0.663 0.144-1.081 0.794-0.938 1.45 0.144 0.662 0.788 1.081 1.45 0.938 2.038-0.431 4.238 0.2 5.731 1.856s1.9 3.912 1.256 5.888v0c-0.206 0.644 0.144 1.331 0.788 1.544 0.644 0.206 1.331-0.144 1.544-0.787v-0.006c0.9-2.762 0.331-5.938-1.769-8.269z"></path>
          <path d="M26.587 9.75c-1.025-1.137-2.538-1.569-3.925-1.269-0.569 0.119-0.931 0.688-0.813 1.256 0.125 0.569 0.688 0.931 1.25 0.806v0c0.681-0.144 1.419 0.069 1.919 0.619 0.5 0.556 0.637 1.313 0.419 1.975v0c-0.175 0.55 0.125 1.15 0.681 1.331 0.556 0.175 1.15-0.125 1.331-0.681 0.438-1.356 0.163-2.906-0.863-4.037z"></path>
          <path d="M13.738 21.769c-0.188 0.319-0.594 0.469-0.912 0.337-0.319-0.125-0.412-0.488-0.231-0.794 0.188-0.306 0.581-0.456 0.894-0.337 0.313 0.113 0.425 0.469 0.25 0.794zM12.044 23.931c-0.512 0.819-1.613 1.175-2.438 0.8-0.813-0.369-1.056-1.319-0.544-2.119 0.506-0.794 1.569-1.15 2.387-0.806 0.831 0.356 1.1 1.3 0.594 2.125zM13.969 18.144c-2.519-0.656-5.369 0.6-6.463 2.819-1.119 2.262-0.037 4.781 2.506 5.606 2.637 0.85 5.75-0.456 6.831-2.894 1.069-2.394-0.262-4.85-2.875-5.531z"></path>
        </symbol>
        <symbol id="svg-icons-github" viewBox="0 0 32 32">
          <title>github</title>
          <path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
        </symbol>
      </defs>
    </svg>
  </div>
</body>

</html>