<div class="row">

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="pull-right"></a>
                <h4>Nissan Juke 1.2</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">
                        <img src="static/img/asd.jpg" alt="Nissan Juke 1.2" width="416">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="pull-right"></a>
                <h4>Nissan Juke 1.2</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">
                        <img src="static/img/qwe.jpeg" alt="Nissan Juke 1.2" width="416">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="pull-right"></a>
                <h4>Nissan Juke 1.2</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">
                        <img src="static/img/zxc.jpeg" alt="Nissan Juke 1.2" width="416">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-sm-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="pull-right"></a>
                <h4>Nissan Juke 1.2</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">
                        <img src="static/img/dfg.jpeg" alt="Nissan Juke 1.2" width="416">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">


    </div>

    <div class="col-sm-4">


    </div>

</div>