<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

    <ul class="nav">
        <li>
            <a href="#" data-toggle="offcanvas" class="visible-xs text-center">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </li>
    </ul>

    <ul class="nav hidden-xs" id="lg-menu">

        {{range $key, $val := .SideMenu}}

        <li>
            <a href="#{{$key}}" data-toggle="collapse">
                <i class="{{$val.Class}}"></i>{{$val.Name}}
            </a>
        </li>

        <ul id="{{$key}}" class="panel-collapse collapse">
            {{range $ckey, $cval := $val.Children }}
            <li id="{{$ckey}}">
                <a href="{{$cval.Link}}">
                    <i class="{{$cval.Class}}"></i>{{$cval.Name}}
                </a>
            </li>
            {{end}}
        </ul>

        {{end}}

    </ul>

    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li class="text-center">
            <a href="https://avosa.co.za"> Copyright &copy;
                <br> Avosa Software 2017
            </a>
        </li>
    </ul>

    <ul class="nav visible-xs" id="xs-menu">
        <li>
            <a href="#featured" class="text-center">
                <i class="glyphicon glyphicon-list-alt"></i>
            </a>
        </li>
        <li>
            <a href="#stories" class="text-center">
                <i class="glyphicon glyphicon-list"></i>
            </a>
        </li>
        <li>
            <a href="#" class="text-center">
                <i class="glyphicon glyphicon-paperclip"></i>
            </a>
        </li>
        <li>
            <a href="#" class="text-center">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
        </li>
    </ul>

</div>