<div class="row">
    <div class="col-12">
        <div class="container">
            <h3>Tabs</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tabBasicsite">Site Info</a></li>
                <li><a href="#tabHeader">Headers</a></li>
                <li><a href="#tabPortfolio">Portfolio</a></li>
                <li><a href="#tabAbout"></a>About Us</li>
                <li><a href="#tabSocialMedia">Social media</a></li>
            </ul>

            <div id="tabBasicsite">
                {{ template "/content/tabBasicsite.html" . }}
            </div>
            <div id="tabHeader">
                {{ template "/content/tabHeader.html" . }}
            </div>
            <div id="tabPortfolio">
                {{ template "/content/tabPortfolio.html" . }}
            </div>
            <div id="tabAbout">
                {{ template "/content/tabAbout.html" . }}
            </div>
            <div id="tabSocialMedia">
                {{ template "/content/tabSocialmedia.html" . }}
            </div>
        </div>
    </div>
</div>