<div class="row">
    <div class="col-12">
        <div class="container">
            <h3>Tabs</h3>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" role="tab" data-toggle="tab" href="#tabBasicsite">Site Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#tabHeader">Headers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#tabPortfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#tabAbout">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#tabSocialMedia">Social media</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" id="tabBasicsite" class="tab-pane fade in active">
                    {{ template "/content/tabBasicsite.html" . }}
                </div>
                <div role="tabpanel" id="tabHeader" class="tab-pane fade">
                    {{ template "/content/tabHeader.html" . }}
                </div>
                <div role="tabpanel" id="tabPortfolio" class="tab-pane fade">
                    {{ template "/content/tabPortfolio.html" . }}
                </div>
                <div role="tabpanel" id="tabAbout" class="tab-pane fade">
                    {{ template "/content/tabAbout.html" . }}
                </div>
                <div role="tabpanel" id="tabSocialMedia" class="tab-pane fade">
                    {{ template "/content/tabSocialmedia.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>