<div class="row">
    <div class="col-12">
        <div class="container">
            <form id="frmAbout" role="form" data-toggle="validator">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="lstAbout">About</label>
                        <button type="button" class="btn btn-info btn-sm" id="btnAddParagraph">Add Row</button>
                        <ul id="lstAbout" class="list-group">
                            {{range $key, $val := .data.AboutSections}}
                            <li class="list-group-item" id="liAbout{{$key}}" data-id="{{$val.ID}}">
                                <button type="button" class="fa fa-close close removeRow" data-liID="liAbout{{$key}}"></button>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls">
                                        <label for="txtAboutParagraph{{$key}}">Paragraph</label>
                                        <textarea class="form-control" id="txtAboutParagraph{{$key}}" cols="40" rows="5" required data-validation-required-message="Please provide this paragraphs's text."
                                            placeholder="About Paragraph">{{$val.SectionText}}</textarea>
                                        <p class="help-block with-errors text-danger"></p>
                                    </div>
                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div id="success"></div>
                <a class="btn btn-secondary" href="/site">Back</a>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </form>
        </div>
    </div>
</div>
