<div class="row">
    <div class="col-12">
        <div class="container">
            <form id="frmBasicSite" role="form" data-toggle="validator">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="txtTitle">Title</label>
                        <input class="form-control" type="text" id="txtTitle" placeholder="Title" required data-validation-required-message="Please enter the Title"
                            value="{{.data.Title}}" />
                        <p class="help-block with-errors text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="txtDescription">Description</label>
                        <textarea class="form-control" id="txtDescription" placeholder="Description" required data-validation-required-message="Please enter the Description"
                            cols="40" rows="5">{{.data.Description}}</textarea>
                        <p class="help-block with-errors text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="txtEmail">Email Address</label>
                        <input class="form-control" type="email" id="txtEmail" required data-validation-required-message="Please enter the email address."
                            value="{{.data.ContactEmail}}" />
                        <p class="help-block with-errors text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="txtPhone">Contact Number</label>
                        <input class="form-control" type="tel" id="txtPhone" minlength="9" maxlength="10" required data-validation-required-message="Please enter the phone number."
                            value="{{.data.ContactPhone}}" />
                        <p class="help-block with-errors text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="txtURL">URL</label>
                        <input class="form-control" type="url" id="txtURL" required data-validation-required-message="Please enter this site's URL"
                            value="{{.data.URL}}" />
                        <p class="help-block with-errors text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="uplImage">Logo</label>
                        <div id="imageHolder">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label for="uplProfileImg">Icon</label>
                                    <input class="form-control" type="file" multiple="false" data-for="logo" data-name="Profile" data-itemid="{{.data.ID}}" data-id="{{.data.ImageID}}"
                                        accept=".jpg, .jpeg, .png" id="uplProfileImg" placeholder="Profile Image" {{if not .data.ImageURL}}
                                        required data-validation-required-message="Please provide this item's image." {{end}}
                                    />
                                    <input {{if not .data.ImageURL}} hidden {{end}} type="image" id="uplProfileView" class="img-thumbnail" src="{{.data.ImageURL}}"
                                        alt="profile image" />
                                    <p class="help-block with-errors text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <p class="help-block with-errors text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="txtStylesheet">Stylesheet Name</label>
                        <input class="form-control" type="text" id="txtStylesheet" required data-validation-required-message="Please provide the stylesheet name."
                            value="{{.data.StyleSheet}}" />
                        <p class="help-block with-errors text-danger"></p>
                    </div>
                </div>
                <div id="success"></div>
                <a class="btn btn-secondary" href="/site">Back</a>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </form>
        </div>
    </div>
</div>