<div class="row">
    <div class="col-12">
        <div class="container">
            <form id="frmHeader" role="form" data-toggle="validator">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label for="lstHeader">Headers</label>
                        <button type="button" class="btn btn-info btn-sm" id="btnAddHeader">Add Row</button>
                        <ul id="lstHeader" class="list-group">
                            {{range $key, $val := .data.Headers}}
                            <li class="list-group-item" id="liHeader{{$key}}" data-id="{{$val.ID}}">
                                <button type="button" class="fa fa-close close removeRow" data-liID="liHeader{{$key}}"></button>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls">
                                        <label for="uplHeaderImg{{$key}}">Banner</label>
                                        <input class="form-control" type="file" multiple="false" data-for="banner" data-name="Header" data-itemid="{{$val.ID}}" data-id="{{$val.ImageID}}"
                                            accept=".jpg, .jpeg, .png" id="uplHeaderImg{{$key}}" placeholder="Header Banner"
                                            {{if not $val.ImageURL}} required data-validation-required-message="Please provide this item's image."
                                            {{end}} />
                                        <input {{if not $val.ImageURL}} hidden {{end}} type="image" id="uplHeaderView{{$key}}" class="img-thumbnail" src="{{$val.ImageURL}}"
                                            alt="header image" />
                                        <p class="help-block with-errors text-danger"></p>
                                    </div>
                                    <div class="form-group floating-label-form-group controls">
                                        <label for="txtHeaderHeading{{$key}}">Heading</label>
                                        <input type="text" class="form-control" id="txtHeaderHeading{{$key}}" required placeholder="Heading" data-validation-required-message="Please enter a heading."
                                            value="{{$val.Heading}}" />
                                        <p class="help-block with-errors text-danger"></p>
                                    </div>
                                    <div class="form-group floating-label-form-group controls">
                                        <label for="txtHeaderText{{$key}}">Text</label>
                                        <textarea class="form-control" id="txtHeaderText{{$key}}" cols="40" rows="5" required data-validation-required-message="Please provide this banner's text."
                                            placeholder="Header Text">{{$val.Text}}</textarea>
                                        <p class="help-block with-errors text-danger"></p>
                                    </div>
                                </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <a class="btn btn-secondary" href="/site">Back</a>
                <button type="button" class="btn btn-primary" id="btnSaveHeader">Save</button>
            </form>
        </div>
    </div>
</div>